
.crb{color: black;}
.crb:hover{color: red;}

.crr{background-color:black;}
.crr:hover{background-color:#f92f57;}

.bch{border-color: black;}
.bch:hover{border-color: #f92f57;}

.cbw{background-color:whitesmoke;}
.cbw:hover{background-color:black;}

.cwb{color: black;}
.cwb:hover{color:whitesmoke;transition: 3s;}

.sha{box-shadow: 0px 0px 0px 0px;}
.sha:hover{box-shadow: 5px 5px 0px 0px black;transition: 1s;}

.bhw{background-color: rgba(0, 0, 0, 0);}
.bhw:hover{background-color: #f92f57;transition:1s;}

.bor:hover{border:dotted black;}



