
.crb{color: black;}
.crb:hover{color: red;}

.crr{background-color:black;}
.crr:hover{background-color:#f92f57;}

.bch{border-color: black;}
.bch:hover{border-color: #f92f57;}

.cbw{background-color:whitesmoke;}
.cbw:hover{background-color:black;}

.cwb{color: black;}
.cwb:hover{color:whitesmoke;}





